.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Components class */

.grid-list {
  display: flex;
  gap: var(--grid-gap);
  flex-direction: column;
}

.grid-item {
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--background-text-color);
  font-size: 16px;
  font-weight: 500;
  background-color: var(--accent);
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  width: 200px;
  height: 45px;
  border: none;
  transition: background-color 250ms easy 250ms, box-shadow 250ms easy 250ms,
    backdrop-filter 250ms easy 250ms;
}

.button:hover {
  background-color: rgba(73, 133, 255, 0.5);
  box-shadow: 1px 1px 8px 10px var(--accent);
  backdrop-filter: blur(2px);
}

.section-title {
  color: var(--title-color, #323232);
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 146.28%;
}

.main-text {
  font-size: 14px;
  line-height: 158.47%;
}

.subtitle-text {
  color: var(--subtitle-color, #000);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.subtext {
  font-size: 12px;
  line-height: 158.47%;
}
/* header */
/* Header */
.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid rgba(161, 161, 161, 0.5);
  background-image: linear-gradient(
    to bottom,
    rgba(60, 59, 59, 0.8),
    rgba(112, 110, 110, 0.5),
    rgba(112, 110, 110, 0.2)
  );
  backdrop-filter: blur(3px);
}


.header-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}



.header-link {
  color: var(--background-text-color);

  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.header-active::after {
  display: block;
  content: "";
  width: calc(100% + 40px);
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -40px;
  left: -20px;
}

.header-link:hover::after {
  display: block;
  content: "";
  width: calc(100% + 40px);
  height: 2px;
  background: var(--accent);
  position: absolute;
  bottom: -39px;
  left: -20px;
}

.header-nav {
  display: none;
}
.header-btn {
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left: auto;
  display: block;
}
.header-icon {
  width: 24px;
  height: 24px;
}
.is-open {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.menu {
  background-color: aliceblue;
  width: 80%;
  min-height: 300px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 30px;
  padding: 30px;
  transition: opacity 500ms linear, visibility 500ms;
}
.menu-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


/* Hero */
.hero {
  padding-top: 119px;
  padding-bottom: 135px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../images/hero-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-subtitle {
  margin-bottom: 20px;

  color: var(--background-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.hero-title {
  margin-bottom: 50px;

  color: var(--background-text-color);
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}

.hero-button {
  margin: 0 auto;
}

/* Services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services-title {
  max-width: 739px;
  margin: 0 auto 32px;
}

.servises-info {
  max-width: 730px;
  margin: 0 auto 50px;
  text-align: center;
}

.servises-list {
  --grid-gap:27px;
}

.services-item {
  display: flex;
}

.services-circle-out {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  border: 1px solid var(--border-color);
  width: 90px;
  height: 90px;
}

.services-circle-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 1px solid var(--accent, #4985ff);
  width: 70px;
  height: 70px;
}
.services-icon {
  fill: var(--accent);
}

.services-txt {
  padding-top: 46px;
  margin-left: 17px;
}

.services-name {
  margin-bottom: 12px;
}

.service-btn {
  margin: 55px auto 0;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

 
}
